.fa-play {
  font-size: xx-large;
  color: darkred;
}

.fa-book {
  font-size: xx-large;
  color: darkblue;
}

.fa-map {
  font-size: xx-large;
  color: darkolivegreen;
}

.fa-clipboard {
  font-size: xx-large;
  color: gray;
}

.fa-pen {
  font-size: xx-large;
  color: #f1ad53;
}